### Django ###
DJANGO_SECRET_KEY=cambiame_por_un_string_largo_y_aleatorio
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

### POSTGRESQL ###
POSTGRES_USER=gymflow
POSTGRES_PASSWORD=gymflow
POSTGRES_DB=gymflow
POSTGRES_PORT=5432
# Variable POSTGRES_HOST
# Usa 'localhost' para correr Django localmente
# El archivo docker-compose sobrescribe la variable al hostname
# del contenedor de la bd, no hace falta modificarlo.
POSTGRES_HOST=localhost

### PGADMIN ###
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

### EMAIL ###
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Siempre GYM <noreply@siempregym.com>
