# Ejemplo de las variables de entorno necesarias para el docker-compose
# Copiá este archivo como .env y editá si es necesario

### POSTGRESQL ###
POSTGRES_USER=gymflow
POSTGRES_PASSWORD=gymflow
POSTGRES_DB=gymflow
POSTGRES_PORT=5432
# When running Django inside a container in the same compose network, set POSTGRES_HOST to `db`.
# When running Django on the host machine and using port mapping, leave as `localhost`.
POSTGRES_HOST=localhost

### PGADMIN ###
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin@admin.com
PGADMIN_CONFIG_SERVER_MODE='False'
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED='False'
PGADMIN_PORT=5050
