{% extends 'base.html' %}

{% block header %}{% endblock %}
{% block footer %}
	{% include 'partials/_footer.html' with account_header=False %}
{% endblock %}
{% block main_class %}{% endblock %}

{% block content %}
<div class="min-h-screen w-full flex flex-col justify-center items-center p-[clamp(1em,3vw,4em)] bg-white">

    <!-- Tarjeta principal -->
    <div class="relative flex flex-row w-fit md:w-full max-w-6xl bg-light-bg-500 rounded-4xl shadow-fair-xl border border-white overflow-hidden h-fit max-h-[90vh] justify-end items-stretch">

        <!-- Columna izquierda -->
        <div class="hidden md:block absolute inset-0 size-full z-0">
          <!-- fondo -->
            {% block _brand-bg-card %}
              {% include 'partials/_brand-bg.html' %}
            {% endblock %}

            <!-- Textos -->
            <div class="relative size-full z-10 flex flex-col items-start justify-center h-full p-6 lg:p-12 md:pr-[480px] [container-type:inline-size]">
                <h2 class="[font-size:clamp(var(--text-3xl),19cqw,var(--text-6xl))] font-black tracking-tighter lg:tracking-normal xl:tracking-wide uppercase">
                  <span class="text-primary-400 block mb-1 lg:mb-2 text-[1.15em]">Siempre</span>
                    <span class="text-gray-800 block">En</span>
                    <span class="text-gray-800 block">Movimiento</span>
                </h2>

                <!-- Burbuja con slogan -->
                <div class="relative bg-primary-400 text-white p-4 rounded-4xl lg:p-8 lg:rounded-8xl rounded-bl-none lg:rounded-bl-none max-w-[18rem] lg:max-w-[20rem] shadow-fair-md mt-4">
                    <p class="font-bold text-wrap text-md lg:text-lg text-center leading-snug">
                        "La energía no se crea ni se destruye, solo se entrena."
                    </p>
                    <!-- Triángulo inferior de la burbuja -->
                    <div class="absolute -bottom-4 left-0 w-8 h-8 bg-primary-400" style="clip-path: polygon(0 0, 100% 0, 0 100%);"></div>
                </div>
            </div>
        </div>

        <!-- Columna derecha, el formulario -->
        <!-- Notar que está "flotanto" sobre la "columna" izquierda -->
        <div id="auth-card" class="relative z-20 w-full md:w-[400px] lg:w-[450px] bg-white md:bg-white/50 backdrop-blur-sm overflow-y-auto p-8 lg:p-12 flex flex-col md:border-l md:border-white/50 h-fit max-h-[90vh] will-change-contents">
            <style type="text/tailwindcss">
                @layer base {
                    #auth-card h1 {
                      font-size: clamp(var(--text-2xl),15cqw,var(--text-6xl)) !important;
                    }
                    #auth-card label {
                        @apply block text-sm font-bold text-gray-700 mb-2;
                    }
                    #auth-card input {
                        @apply block w-full p-4 md:py-2;
                    }
                    #auth-card a {
                        @apply visited:text-primary-500;
                    }
                    #auth-card p {
                        @apply text-sm text-gray-500;
                    }
                }
            </style>
            {% block auth_card_content %}
            <form method="post" action="{% block auth_form_action %}{% endblock %}" class="w-full h-fit max-w-sm mx-auto my-auto flex flex-col justify-center space-y-6">
                {% csrf_token %}

                <!-- Título/errores -->
                <div class="[container-type:inline-size] w-full text-center md:text-left space-y-2">
                    {% if form.errors %}
                        <h1 class="text-red-500">
                            {% block auth_error_msg %}¡Hay un problema!{% endblock %}
                        </h1>
                        <div class="text-red-600 text-sm font-medium">
                            <ul class="space-y-1">
                                {% block auth_error_list %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endblock %}
                            </ul>
                        </div>
                    {% else %}
                    <h1>
                            {% block auth_title %}{% endblock %}
                        </h1>
                        <p class="text-md text-gray-600 font-medium">
                            {% block auth_subtitle %}{% endblock %}
                        </p>
                    {% endif %}
                </div>

                <!-- Inputs -->
                <div class="space-y-4 m-0 p-0">
                    {% block auth_fields %}{% endblock %}
                </div>

                <!-- Extra top -->
                <div class="flex justify-end">
                     {% block auth_forgot_password %}{% endblock %}
                </div>

                <!-- Botón de envío -->
                <div>
                    {% block auth_primary_button %}
                        {% include 'partials/_primary_button.html' with label="Entrar →" %}
                    {% endblock %}
                </div>

                <!-- Extras inferior (ej. Registrarse) -->
                <div class="flex flex-col items-center">
                    {% block auth_extra %}
                    {% endblock %}
                </div>

                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
            </form>
            {% endblock %}
        </div>
    </div>
  <!-- fondo en mobile -->
  {% block _mobile_bg %}
    <div class="block md:hidden z-0">
      {% include 'partials/_brand-bg.html' %}
    </div>
  {% endblock %}
{% endblock %}
