{% load static %}
<div x-data="{ open: false }" @click.outside="open = false"
  class="w-full bg-secondary-300 shadow-fair-md overflow-hidden transition-[border-radius] duration-350 ease-in-out"
  :class="open ? 'rounded-2xl' : 'rounded-9xl'">

  <div class="grid gap-4 transition-[grid-template-rows] duration-350 ease-in-out" :style="open ? 'grid-template-rows:1fr' : 'grid-template-rows:0fr'">
    <div class="overflow-hidden" :class="open ? 'p-2' : 'p-0'">
      <style type="text/tailwindcss">
        .user-pill-item a,
        .user-pill-item button {
          @apply rounded-[calc(var(--radius-2xl)-calc(var(--spacing)*2))] w-full flex items-center gap-4 p-4 text-sm font-bold text-left  transition-colors no-underline text-white bg-black/25 hover:bg-black/20 mb-2 cursor-pointer;
        }
      </style>
      <div class="user-pill-item">
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button>
            {% include 'partials/_icon.html' with name="box-arrow-left" class="size-4 shrink-0" %}
            Cerrar sesión
          </button>
        </form>
      </div>
      <div class="user-pill-item">
          <a href="{% url 'settings' %}">
            {% include 'partials/_icon.html' with name="gear" class="size-4 shrink-0" %}
            Configuracion
          </a>
      </div>

      <!-- Divider  -->
      <div class="mx-4 border-t border-white/40"></div>
    </div>
  </div>

  <!-- Pill -->
  <div @click="open = !open" class="flex items-center gap-2 p-2 cursor-pointer select-none">

    <!-- Avatar -->
    <div class="p-2 bg-white/75 shrink-0 duration-350 transition-[border-radius] ease-in-out" :class="open ? 'rounded-[calc(var(--radius-2xl)-calc(var(--spacing)*2))]' : 'rounded-6xl '">
      {% include 'partials/_icon.html' with name="person-fill" class="size-8" %}
    </div>

    <!-- Nombre / rol -->
    <div class="flex flex-col flex-1 min-w-0 w-full pr-2">
      <p class="font-bold truncate">{{ user.first_name }} {{ user.last_name }}</p>
      <p class="text-sm tracking-tighter truncate">{{ user.get_rol_display|upper }}</p>
    </div>

    <div class="p-3">
      <svg class="size-4 shrink-0 transition-transform duration-500" :class="open ? 'rotate-180' : ''" fill="currentColor" aria-hidden="true">
        <use href="{% static 'vendors/bootstrap-icons/bootstrap-icons.svg' %}#chevron-down"></use>
      </svg>

    </div>
  </div>

</div>
