{% comment %}
  Uso:
    icon: nombre del icono a usar
    title: título de la sección
    description: descripción de la sección
    content_template: template a incluir en el contenido de la sección
    is_open: si la sección debe estar abierta por defecto (opcional, por defecto True)
{% endcomment %}

<section
  x-data="{ open: {{ is_open|default:'true'|lower }} }"
  class="overflow-hidden bg-white border border-gray-200 shadow-fair-sm rounded-6xl will-change-contents transition-all"
>
  <button
    type="button"
    @click="open = !open"
    class="rounded-none shadow-fair-sm flex w-full items-center justify-between p-4 text-left transition hover:bg-muted/50"
  >
    <div class="flex items-center gap-4">
      <div class="rounded-lg bg-muted p-2">
        {% include 'partials/ui/_icon.html' with name=icon class='size-5 text-gray-700' %}
      </div>

      <div>
        <h2 class="text-primary-500 text-base font-medium">
          {{ title }}
        </h2>
        <p class="text-sm font-normal text-gray-700">
          {{ description }}
        </p>
      </div>
    </div>

    <div class="p-4 transition-transform duration-500"
    :class="open ? 'rotate-180' : ''"
    >
      {% include 'partials/ui/_icon.html' with name='chevron-down' %}
    </div>
  </button>

  <div
    x-show="open"
    x-collapse
    x-collapse.duration.350ms
    class="z-0 p-4"
  >
    {% if content_template %}
      {% include content_template %}
    {% endif %}
  </div>
</section>
