{% extends 'classes/_cliente_flow.html' %}

{% block title %}Mis reservas{% endblock %}

{% block flow_stepper %}{% endblock %}

{% block flow_main %}
{% if not inscripciones_con_info %}
{% url 'classes:actividades' as actividades_url %}
{% include 'partials/cliente/flow/_empty.html' with message="No tenés reservas activas." action_url=actividades_url action_label="Explorar actividades" %}
{% else %}
<div class="flex flex-col gap-4">
  {% for item in inscripciones_con_info %}
  {% include 'partials/cliente/flow/_reserva.html' with inscripcion=item.inscripcion clase=item.inscripcion.clase proximo_inicio=item.proximo_inicio pago=item.pago %}
  {% endfor %}
</div>
{% endif %}
{% endblock %}
