{% comment %}
  Usage:
    {% include 'partials/_payment_row.html' with month="..." method="..." amount="..." %}
{% endcomment %}
<div class="bg-stone-50 rounded-4xl p-4 flex justify-between items-center shadow-fair-sm border border-white/25 ">
    <div class="flex items-center gap-4">
        <div class="size-10 rounded-8xl border-2 border-green-500 flex items-center justify-center text-green-500 bg-green-50 shadow-inner">
            {% include 'partials/_icon.html' with name="check" class="size-7 stroke-[3]" %}
        </div>
        <div>
            <p class="font-black text-secondary-900">{{ month }}</p>
            <p class="text-sm font-bold text-gray-400 uppercase tracking-tight">{{ method }}</p>
        </div>
    </div>
    <p class="font-black text-secondary-900 text-xl">{{ amount }}</p>
</div>
