<div id="task-status-{{ task_id }}" 
     {% if not task %}
        hx-get="{% url 'task-status' task_id %}" 
        hx-trigger="every 2s" 
        hx-swap="outerHTML"
     {% endif %}
     class="transition-all duration-500 opacity-100">
    
    <div class="flex items-center justify-between p-2 rounded-full bg-gray-100 border border-white/50 shadow-fair-md">
        <div class="flex flex-col ml-3">
            <span class="font-mono text-md font-bold text-on-light-bg-500">
                {% if task %}
                    {{ task.group|default:"Notificación"|title }}
                {% else %}
                    Procesando...
                {% endif %}
            </span>
        </div>

        <span class="flex items-center justify-center size-10 rounded-full shadow-fair-sm transition-transform duration-500 hover:scale-110 
            {% if not task %}bg-secondary-300 animate-bounce
            {% elif task.success %}bg-secondary-300 text-white
            {% else %}bg-red-500 text-white{% endif %}">
            
            {% if not task %}
                {% include 'partials/_icon.html' with name="arrow-repeat" class="size-5 animate-spin" %}
            {% elif task.success %}
                {% include 'partials/_icon.html' with name="check-lg" class="size-5" %}
            {% else %}
                {% include 'partials/_icon.html' with name="x-lg" class="size-5" %}
            {% endif %}
        </span>
    </div>
</div>
