{% extends 'base.html' %}

{% block header %}{% endblock %}
{% block footer_class %}{% endblock %}
{% block main_class %}{% endblock %}

{% block content %}
<style>
@keyframes colorCycle {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 200% center;
  }
}

.animate-colorCycle {
  background: linear-gradient(
    to right,
    var(--color-primary-400) 40%,
    var(--color-secondary-300) 50%,
    var(--color-primary-400) 70%
  );
animation-timing-function: cubic-bezier(1, 0.001, 0, 1);
  background-size: 200% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorCycle;
  animation-duration: 7s;
}
</style>
<div class="min-h-screen w-full flex flex-col justify-center items-center bg-white">

    <!-- Tarjeta principal -->
    <div class="min-h-screen w-full relative flex flex-row md:w-full bg-light-bg-500 justify-end items-stretch">

        <!-- Columna izquierda -->
        <div class="hidden bg-white md:bg-gray-200 md:block absolute inset-0 size-full z-0">
            <!-- Textos -->
            <div class="relative size-full z-10 flex flex-col items-start justify-center h-full p-6 lg:p-12 md:pr-[480px] [container-type:inline-size]">
                <h2 class="[font-size:clamp(var(--text-4xl),19cqw,var(--text-7xl))] font-black tracking-tighter lg:tracking-normal xl:tracking-wide uppercase z-10">
                  <span class="animate-colorCycle  block mb-1 lg:mb-2 text-[1.15em]">Siempre</span>
                    <span class="text-gray-800 block">En</span>
                    <span class="text-gray-800 block">Movimiento</span>
                </h2>

                <!-- Burbuja con slogan -->
                <div class="relative bg-primary-400 text-white p-4 rounded-4xl lg:p-8 lg:rounded-8xl rounded-bl-none lg:rounded-bl-none max-w-[18rem] lg:max-w-[20rem] shadow-fair-md mt-10">
                    <p class="font-bold text-wrap text-md lg:text-lg text-center leading-snug">
                        "La energía no se crea ni se destruye, solo se entrena."
                    </p>
                    <!-- Triángulo inferior de la burbuja -->
                    <div class="absolute -bottom-4 left-0 w-8 h-8 bg-primary-400" style="clip-path: polygon(0 0, 100% 0, 0 100%);"></div>
                </div>
            </div>
        </div>

        <!-- Columna derecha, el formulario -->
        <!-- Notar que está "flotanto" sobre la "columna" izquierda -->
        <div id="auth-card" class="relative z-20 w-full md:w-[400px] lg:w-[450px] bg-transparent md:bg-white/55 backdrop-blur-sm overflow-y-auto p-8 lg:p-12 flex flex-col md:border-l md:border-white/50 will-change-contents">
            {% block auth_card_content %}
            <form method="post" action="{% block auth_form_action %}{% endblock %}" class="w-full h-fit max-w-sm mx-auto my-auto flex flex-col justify-center space-y-6">
                {% csrf_token %}

                <!-- Título/errores -->
                <div class="[container-type:inline-size] w-full text-center md:text-left space-y-2">
                    {% if form.errors %}
                        <h1 class="text-red-500">
                            {% block auth_error_msg %}¡Hay un problema!{% endblock %}
                        </h1>
                        <div class="text-red-600 text-sm font-medium">
                            <ul class="space-y-1">
                                {% block auth_error_list %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endblock %}
                            </ul>
                        </div>
                    {% else %}
                    <h1 class='leading-none'>
                            {% block auth_title %}{% endblock %}
                        </h1>
                        <p class="text-md text-gray-600 font-medium">
                            {% block auth_subtitle %}{% endblock %}
                        </p>
                    {% endif %}
                </div>

                <!-- Inputs -->
                <div class="space-y-4 m-0 p-0 [&div]:space-y-2">
                    {% block auth_fields %}{% endblock %}
                </div>

                <!-- Extra top -->
                <div class="flex justify-end">
                     {% block auth_forgot_password %}{% endblock %}
                </div>

                <!-- Botón de envío -->
                <div>
                    {% block auth_primary_button %}
                        {% include 'partials/ui/buttons/_primary_button.html' with label="Entrar →" %}
                    {% endblock %}
                </div>

                <!-- Extras inferior (ej. Registrarse) -->
                <div class="flex flex-col items-center">
                    {% block auth_extra %}
                    {% endblock %}
                </div>

                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}">
                {% endif %}
            </form>
            {% endblock %}
        </div>
    </div>
  <!-- Fondo -->
  {% block _mobile_bg %}
    <div class="z-0">
      {% include 'partials/layout/_brand-bg.html' %}
    </div>
  {% endblock %}
{% endblock %}
