{% extends 'partials/_modal.html' %}

{% block modal_title %}Tu Acceso<br>Rápido{% endblock %}

{% block modal_subtitle %}
    El código se actualiza automáticamente
{% endblock %}

{% block modal_body %}
    <div class="flex justify-center items-center bg-gray-50 rounded-6xl p-8 aspect-square border-2 border-dashed border-gray-200">
        {% include 'partials/dashboards/_qr_code.html' with class="size-full" %}
    </div>
{% endblock %}


{% block modal_footer %}
    <div class="w-full text-center">
        <p class="text-primary-400 font-bold uppercase tracking-[0.2em] text-sm">Escaneá este código en recepción</p>
    </div>
{% endblock %}
