{% extends 'partials/auth/_auth_card.html' %}

{% block title %}Recuperar contraseña{% endblock %}

{% block auth_title %}Recuperar contraseña{% endblock %}
{% block auth_subtitle %}Ingresá tu correo electrónico para recibir un enlace de recuperación{% endblock %}

{% block auth_fields %}
  <div class='flex flex-col'>
      <label for="{{ form.email.id_for_label }}">
          Correo electrónico
      </label>
      <input id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" type="email" required autofocus placeholder="tu@email.com">
  </div>
{% endblock %}

{% block auth_primary_button %}
  {% include 'partials/ui/buttons/_primary_button.html' with label="Enviar correo" %}
{% endblock %}

{% block auth_extra %}
  <p>
    <a href="{% url 'login' %}">
       Volver al inicio de sesión
    </a>
  </p>
{% endblock %}
