{% extends 'partials/auth/_auth_card.html' %}

{% block title %}Nueva contraseña{% endblock %}

{% block auth_title %}
    {% if validlink %}
        Nueva contraseña
    {% else %}
        <span class="text-red-500">Enlace inválido</span>
    {% endif %}
{% endblock %}
{% block auth_subtitle %}
    {% if validlink %}
        Por favor ingresá tu nueva contraseña.
    {% else %}
        El enlace para restablecer la contraseña no es válido o ha expirado. Por favor, solicita uno nuevo.
    {% endif %}
{% endblock %}

{% block auth_fields %}
  {% if validlink %}
      <div class='flex flex-col'>
          <label for="{{ form.new_password1.id_for_label }}">Nueva Contraseña</label>
          {{ form.new_password1 }}
      </div>
      <div class='flex flex-col mt-4'>
          <label for="{{ form.new_password2.id_for_label }}">Confirmar Contraseña</label>
          {{ form.new_password2 }}
      </div>
  {% endif %}
{% endblock %}

{% block auth_primary_button %}
  {% if validlink %}
      {% include 'partials/ui/buttons/_primary_button.html' with label="Cambiar contraseña" %}
  {% endif %}
{% endblock %}

{% block auth_extra %}
  {% if not validlink %}
      <p>
        <a href="{% url 'password_reset' %}">
           Solicitar nuevo enlace
        </a>
      </p>
  {% endif %}
{% endblock %}
