<div @click="open = false">
  <div class="user-pill-item">
    <form method="post" action="{% url 'logout' %}" hx-boost="false">
      {% csrf_token %}
      <button type="submit" class="text-white !bg-[#F00]/45 hover:!bg-[#F00]/65">
        {% include 'partials/ui/_icon.html' with name="box-arrow-left" class="size-4 shrink-0" %}
        <span class="whitespace-nowrap">Cerrar sesión</span>
      </button>
    </form>
  </div>
  <div class="user-pill-item">
    <a href="{% url 'settings' %}">
      {% include 'partials/ui/_icon.html' with name="gear" class="size-4 shrink-0" %}
      <span class="whitespace-nowrap">Configuración</span>
    </a>
  </div>
</div>
